asgiref==3.9.1
Django==5.1.11
django-filter==25.1
djangorestframework==3.16.0
djangorestframework-gis==1.2.0
GDAL==3.6.2
idna==3.10
psycopg2-binary==2.9.10
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
